.contact-container{
    justify-content: center;
    display: flex;
}
  
  .formContact {
    width: 500px;
  }
  
  .contactPage {
    background-image: url(https://images.pexels.com/photos/2362009/pexels-photo-2362009.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    display: flex;
    justify-content: space-around;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .containerContact {
    padding-left: 250px;
    margin-top: 210px;
    margin-right: 200px;
  }
  
  .contact-title {
      margin-left: 15px;
      font-size: calc(1.325rem + .9vw);
      margin-bottom: 20px;
  }
  
  .contact-p {
    width: 370px;
    text-align: left;
    padding-left: 55px;
    font-size: 18px;
  }
  
  .containerForm {
    margin-top: 180px;
    margin-left: 100px;
  }
  
  .Name-comment, .Email-comment, .Message-comment {
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.137);
    border: 1px solid rgb(49, 49, 49);
    font-size: 16px;
    width: 500px;
    margin-top: 10px;
  }
  
  .formContact input:focus,
  textarea:focus {
    border: 1px solid rgb(0, 0, 0);
  }
  
  .Message-comment {
    height: 150px;
    max-width: 500px;
    min-height: 100px;
    margin-top: 10px;
  }
  
  .btn-sub-contact {
    display: block;
    margin: 135px;
    width: 250px;
    padding: 15px;
    border: none;
    font-weight: 500;
    font-size: 25px;
    border-radius: 6px;
    color: rgb(0, 0, 0);
    margin-top: 20px;
    cursor: pointer;
    box-shadow: 0 3px rgb(236, 236, 236);
    outline: none;
  }
  .btn-sub-contact:hover {
    box-shadow: 0 3px rgb(158, 158, 158);
    transform: translateY(2px);
  }
  
  .btn-sub-contact:active {
    box-shadow: 0 2px rgb(165, 165, 165);
  }
  
  .label-name, .label-email, .label-comment {
    font-size: 16px;
    padding-bottom: 10px;
    color: rgb(255, 255, 255);
    font-weight: bold;
  }
  
  @media(max-width: 1024px) {
    .contactPage {
      display: flex;
      justify-content: center;
      flex-direction: column-reverse;
      align-items: center;
      margin: 0;
    }
  
    .containerContact {
      margin: 0;
      padding: 0;
      width: 400px;
      display: flex;
      flex-direction: column;
    margin-top: 100px;
    }
  
    .contact-p {
      margin: 0;
      padding-left: 100px;
      padding: 0;
      text-align: center;
    }
  
    .formContact {
      width: 542px;
      margin: 0;
    }
  
    .containerForm {
      margin-left: 0;
    }
  }
  
  @media(max-width: 570px) {
    .Name-comment, .Email-comment, .Message-comment, .formContact {
      max-width: 400px;
      flex-direction: column;
    }

   
    .btn-sub-contact {
      margin: 0;
      padding-left: 20px;
      max-width: 120px;
    }
  
    .containerForm {
      display: flex;
      align-items: center;
      margin-right: 80px;
      padding: 0;
      margin-top: 100px;
    }
  
    .containerContact {
      max-width: 340px;
    }
  
    .contact-p {
      max-width: 330px;
      font-size: 16px;
    }
  
    .openpopup {
      justify-content: center;
      margin-left: 35px;
      margin-bottom: 30px;
    }
  
    .btn-sub-contact {
      margin: 0;
      margin-left: 65px;
    }
  
    .ListContact {
      width: 0%;
    }
}
.contact-text{
  margin-left: 22px;
}

@media screen and (max-width: 450px){
  .Name-comment, .Email-comment, .Message-comment, .formContact {
    width: 320px;
  }
}