h2 {
color: #173b6c;
font-weight: bold;
}
.resume{
    padding: 12px;
}

.resume-item {
    border-left: 3px solid #173b6c;
    padding: 0 0 20px 20px;
    display: inline-block;
    margin-right: 15px;
}

.pro-title, .resume-title, .school-title {
    color: rgb(57, 58, 138);
}

.conteneur-parcours{
    display: flex;
    flex-direction: row;
}

.conteneur-resume {
    width: 50% !important;
}

.etudes-cours {
    width: 50% !important;
}

.conteneur-parent{
    overflow: hidden;
    display: flex;
}

.parcours-text{
    margin-bottom: 25px;
}

@media screen and (max-width: 700px) {
.conteneur-parent{
    flex-direction: column;
    margin: 5%;
}
.resume-item{
    width: 400px;
}
.conteneur-parcours{
    width: 450px;
}
.pro-title{
    width: max-content;
}
.school-title, .pro-title{
    margin-top: 15px;
}
}

@media screen and (max-width: 900px) {
    .container-parcours{
        margin: 0;
        padding: 0;
    }
}

@media screen and (max-width:450px) {
    .resume {
        padding: 0;
    }
    .conteneur-parcours{

        width:375px;
    }
    .resume-item{
        width: 340px;
    }

    }