.img-fond {
  width: 150px;
  height: 150px;
  border: none;
  -moz-border-radius: 75px;
  -webkit-border-radius: 75px;
  border-radius: 75px;
}
.columns {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: max-content;
  margin-bottom: 30px;
}
.ul-presentation {
  margin-top: 16px;
  margin-left: 40px;
}
.presentation-title {
  margin-top: 30px;
}
.presentation-about {
  margin-bottom: 15px;
}


@media (min-width: 768px){
  .container-presentation{
padding: 20px;
  }
}
/* Section social */

.presentation-social{
  margin-left: 5px;
}

@media (max-width:450px) {
  .columns{
    
    display: flex;
    flex-direction: column !important;
  }
}